{
  "customSyntax": "postcss-html",
  "extends": ["stylelint-config-standard-scss"],
  "rules": {
    "selector-class-pattern": null,
    "at-rule-no-unknown": [
      true,
      { "ignoreAtRules": ["extend", "include", "mixin", "each", "forward"] }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["deep", "slotted", "global"]
      }
    ],
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["deep", "slotted", "global"]
      }
    ],
    "string-quotes": "single",
    "alpha-value-notation": "number",
    "color-function-notation": "legacy"
  }
}
